body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.is-active {
  background-color: red;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.leftPanel,
.rightPanel {
  width: 300px;
}

.centrePanel {
  flex: 1;
}
